packaging_format = 2

id = "trilium"
name = "Trilium Notes"
description.en = "Hierarchical note taking application with focus on building large personal knowledge base"
description.fr = "Application de prise de note hiérarchique centrée sur la construction d'une large base de connaissances personnelle"

version = "0.100.0~ynh1"

maintainers = ["Jules Bertholet"]

[upstream]
license = "AGPL-3.0-only"
admindoc = "https://github.com/TriliumNext/trilium/wiki"
code = "https://github.com/TriliumNext/trilium"
cpe = "cpe:2.3:a:trilium_project:trilium"
fund = "https://github.com/sponsors/zadam"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = [ "amd64", "arm64" ]
multi_instance = true

ldap = false
sso = false

disk = "200M"
ram.build = "350M"
ram.runtime = "110M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/trilium"

    [install.init_main_permission]
    help.en = "Enabling visitors access is required for sync with desktop app"
    help.fr = "Autoriser l'accès aux visiteurs est nécessaire pour la synchronisation avec l'application desktop"
    type = "group"
    default = "visitors"

    [install.instance_name]
    ask.en = "Choose a unique name for this instance (optional)"
    ask.fr = "Choisissez un nom unique pour cette instance (facultatif)"
    type = "string"
    example = "MyTrillium"
    optional = true
    default = ""

[resources]

    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://github.com/TriliumNext/Trilium/releases/download/v0.100.0/TriliumNotes-Server-v0.100.0-linux-x64.tar.xz"
        amd64.sha256 = "e5f7ab6c295735ed2373208d8b5b05cfc854134b03c27ae26401dc0f19ce152d"
        arm64.url = "https://github.com/TriliumNext/Trilium/releases/download/v0.100.0/TriliumNotes-Server-v0.100.0-linux-arm64.tar.xz"
        arm64.sha256 = "afa9b1aef2d3dad98dcf99cf1830ee9ac8f8b73edd0ca737ff238c031de03357"
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^TriliumNotes-Server-v\\d+(\\.\\d+){2}-linux-x64\\.tar\\.xz"
        autoupdate.asset.arm64 = "^TriliumNotes-Server-v\\d+(\\.\\d+){2}-linux-arm64\\.tar\\.xz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8095