packaging_format = 2

id = "trilium"
name = "Trilium Notes"
description.en = "Hierarchical note taking application with focus on building large personal knowledge base"
description.fr = "Application de prise de note hiérarchique centrée sur la construction d'une large base de connaissances personnelle"

version = "0.99.1~ynh1"

maintainers = ["Jules Bertholet"]

[upstream]
license = "AGPL-3.0-only"
admindoc = "https://github.com/TriliumNext/trilium/wiki"
code = "https://github.com/TriliumNext/trilium"
cpe = "cpe:2.3:a:trilium_project:trilium"
fund = "https://github.com/sponsors/zadam"

[integration]
yunohost = ">= 11.2"
architectures = [ "amd64", "arm64" ]
multi_instance = true

ldap = false
sso = false

disk = "200M"
ram.build = "350M"
ram.runtime = "110M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/trilium"

    [install.init_main_permission]
    help.en = "Enabling visitors access is required for sync with desktop app"
    help.fr = "Autoriser l'accès aux visiteurs est nécessaire pour la synchronisation avec l'application desktop"
    type = "group"
    default = "visitors"

    [install.instance_name]
    ask.en = "Choose a unique name for this instance (optional)"
    ask.fr = "Choisissez un nom unique pour cette instance (facultatif)"
    type = "string"
    example = "MyTrillium"
    optional = true
    default = ""

[resources]

    [resources.sources]

        [resources.sources.main]
        amd64.url = "https://github.com/TriliumNext/Trilium/releases/download/v0.99.1/TriliumNotes-Server-v0.99.1-linux-x64.tar.xz"
        amd64.sha256 = "e0388f816297cd5326e894c19c918e66b40b3888d042fc6436f71ac24cec8383"
        arm64.url = "https://github.com/TriliumNext/Trilium/releases/download/v0.99.1/TriliumNotes-Server-v0.99.1-linux-arm64.tar.xz"
        arm64.sha256 = "7727fab76cb544eebe3423c3003d7d0e870061c86422057ec784a19f704d10af"
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "^TriliumNotes-Server-v\\d+(\\.\\d+){2}-linux-x64\\.tar\\.xz"
        autoupdate.asset.arm64 = "^TriliumNotes-Server-v\\d+(\\.\\d+){2}-linux-arm64\\.tar\\.xz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8095
