test_format = 1.0

[default]

    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.fac7d16.name = "Merge pull request #40 from YunoHost-Apps/testing"
