[Unit]
Description=Trilium notes server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=TRILIUM_DATA_DIR=/home/yunohost.app/__APP__
Environment=NODE_ENV=production
WorkingDirectory=__FINALPATH__/
ExecStart=/usr/bin/env bash -c "PATH=__NODEJS_PATH__:$PATH node __FINALPATH__/src/www"

[Install]
WantedBy=multi-user.target
