[Unit]
Description=Trilium notes server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment=TRILIUM_DATA_DIR=/home/yunohost.app/__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=node __FINALPATH__/src/www

[Install]
WantedBy=multi-user.target
